nav {
  z-index: 200;
  position: fixed;
  width: 100%;
  &.copilot {
    background: $coBlue;
    border-bottom: 1px solid darken($coBlue, 15%);
    box-shadow: $midGray 0px 1px 2px;
    font-size: 18px;
    font-weight: 400;

    img {
      margin-right: 6px;
    }

    a {
      color: white;
      text-decoration: none;
      padding: 10px 16px;
      display: inline-block;
    }

    span {
      position: relative;
      top: 3px;
      display: inline-block;
    }

    .pull-right {
      font-size: 14px;
      padding-top: 16px;
    }
  }
}
