@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i';
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "copilot";
@import "themes";

body {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-size: 14px;
  color: #777777;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 50px;
  @media (max-width: $screen-md-min) {
    margin: 30px 40px;
  }
}

h2 {
  font-size: 18px;
  font-weight: bold
}

.snippet, .shareURL {
  padding: 20px;
  margin: 20px 0;
  height: 200px;
  overflow: scroll;
  background: #FAFAFA;
  border: 1px solid #DDDDDD;
  word-wrap: break-word;
}

.has-error {
  color: red;
  border-color: red;
  input {
    background: #FFEEEE;
  }
}

.tab-content {
  padding: 12px 24px;
}

.customize,
.preview {
  padding-top: 62px;
}

.customize {
  position: relative;
  @extend .bg-lightGray;
  height: 100%;
  overflow: scroll;
  padding-bottom: 36px;
  border-right: 1px solid $midGray;

  h2 {
    margin-top: 0;
  }

  @media (max-width: $screen-md-min) {
    padding-top: 0;
    margin-top: 20px;
    border-left: 0;
    border-top: 1px solid $midGray;
    height: auto;
  }
}

.preview {
  position: relative;
  height: 100%;
  @media (max-width: $screen-md-min) {
    padding-top: 62px;
    height: auto;
  }
}

ul.nav-pills {
  text-align: center;
  li {
    float: none;
    display: inline-block;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    border-radius:40px;
    background: $midGray;
    padding: 12px;
    &:hover {
      background: #AAAAAA;
    }
  }
  img {
    width: 30px;
  }
}

#aweberFormToSnippet {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 10px auto 20px;
  @media (max-width: $screen-md-min) {
    top: 0;
    transform: translateY(0);
  }
}

// Swatches
  .aweberSwatch {
    height: 18px;
    width: 18px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

// Breadcrumbs
  .breadcrumb {
    border-radius: 6px;
    margin: 10px 0;
  }

// Templates Grid
  .templates {
    .templates__card {
      padding: 10px;
      margin-bottom: 20px;
      background: white;
      border-radius: 6px;
      box-sizing: border-box;
      border: 1px solid darken($lightGray, 10%);
      box-shadow: $midGray 0px 1px 2px;

      p {
        padding: 5px 16px 10px;
      }

      img {
        max-width: 100%;
        box-sizing: border-box;
        padding: 10px 10px 0;
        margin: 0 auto;
      }

      .btn-primary {
        background: $coBlue;
        padding: 10px;
        border: 0;
        transition-duration: .3s;

        &:hover {
          background: darken($coBlue, 10%);
        }
      }
    }
  }


// Fields
  .customize {
    .form-group {
      label {
        font-weight: normal;
      }

      input[type="text"],
      input[type="url"],
      .form-control,
      textarea {
        border-radius: 0;
        border: 1px solid darken($lightGray, 10%);
        box-shadow: $midGray 0px 1px 2px;
      }
    }
  }
