<h1 class="text-center">Choose a template to start</h1>

<div class="templates">
  <a onclick="loadTemplate('theme-01', 'vertical');"><img src="images/templates/vertical.png" alt="Vertical" /></a>
  <a onclick="loadTemplate('theme-01', 'horizontal');"><img src="images/templates/horizontal.png" alt="Horizontal" /></a>
  <a onclick="loadTemplate('theme-01', 'split-01');"><img src="images/templates/split-01.png" alt="Split Form One" /></a>
  <!-- <a onclick="loadTemplate('theme-01', 'split1-02);"><img src="images/templates/split-02.png" alt="Split Form Two" /></a> -->
</div>
