<div class="templates">
  <a onclick="loadTemplate('theme-01', 'vertical');"><img src="images/templates/vertical.png" alt="Vertical" /></a>
  <a onclick="loadTemplate('theme-01', 'horizontal');"><img src="images/templates/horizontal.png" alt="Horizontal" /></a>
  <a onclick="loadTemplate('theme-01', 'split01');"><img src="images/templates/split1.png" alt="Split Form One" /></a>
  <a onclick="loadTemplate('theme-01', 'split102);"><img src="images/templates/split2.png" alt="Split Form Two" /></a>
</div>
