<h1 class="text-center">Select the form layout you’d like to use:</h1>

<div class="row templates">

  <div class="col-sm-4">
    <div class="templates__card text-center">
      <img src="images/templates/Vertical.png" alt="Vertical" class="img-responsive" />
      <h2>Vertical Form</h2>
      <p>Perfect if you need a sign up form for a side bar or other tight spot.</p>
      <a onclick="loadTemplate('theme-01', 'vertical');" class="btn btn-primary btn-block">Use this layout</a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="templates__card text-center">
      <img src="images/templates/Horizontal.png" alt="Horizontal" class="img-responsive" />
      <h2>Horizontal Form</h2>
      <p>This is great for when you want a form in your header or footer.</p>
      <a onclick="loadTemplate('theme-01', 'horizontal');" class="btn btn-primary btn-block">Use this layout</a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="templates__card text-center">
      <img src="images/templates/Split-01.png" alt="Split" class="img-responsive" />
      <h2>Split Form</h2>
      <p>Split forms are a fancy way of adding a sign up form with some real presence.</p>
      <a onclick="loadTemplate('theme-01', 'split-01');" class="btn btn-primary btn-block">Use this layout</a>
    </div>
  </div>

</div>
